<app-centered-layout>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="booking-form">
        <mat-form-field appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="username">
            @if (getErrorMessage('username'); as msg) {
            <mat-error>{{ msg }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password">
            @if (getErrorMessage('password'); as msg) {
            <mat-error>{{ msg }}</mat-error>
            }
        </mat-form-field>

        @if (loginError(); as err) {
        <div class="booking-form__error">
            <mat-icon aria-hidden="true">error</mat-icon>
            <span>{{ err }}</span>
        </div>
        }
        
        <div class="booking-form__actions">
            <button mat-flat-button color="primary" type="submit" [disabled]="isLoading()">
                @if (isLoading()) {
                <mat-spinner diameter="20"></mat-spinner>
                <span>Procesando...</span>
                } @else {
                <span>Iniciar Sesión</span>
                }
            </button>
        </div>
    </form>
</app-centered-layout>