.waiting-list {
  display: grid;
  gap: 12px;

  &__card {
    width: 100%;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

  &__left {
    min-width: 0; // permite ellipsis si el nombre crece
    display: grid;
    gap: 4px;
  }

  &__name {
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__meta {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    opacity: 0.75;
    line-height: 16px;
    flex-wrap: wrap;
  }

  &__dot {
    opacity: 0.6;
  }

  &__chipset {
    flex-shrink: 0;
  }

  &__chip {
    font-weight: 600;
    letter-spacing: 0.2px;

    &--priority {
      background-color: var(--mat-sys-priority)!important;
      color: var(--mat-sys-on-primary)!important;
      --mdc-chip-container-color: var(--mat-sys-priority) !important;
      --mdc-chip-label-text-color: var(--mat-sys-priority) !important;
      .mdc-evolution-chip__icon--primary {
        color: #FFF!important;
      }
    }
    &--normal {
      background-color: var(--mat-sys-highlighted)!important;
      color: var(--mat-sys-primary)!important;      
      opacity: 0.9;
    }
  }

  &__empty {
    text-align: center;
    opacity: 0.85;
  }
}
