@use '@angular/material' as mat;

@include mat.core();

$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Roboto, sans-serif',
  ),
  // CORRECCIÓN AQUÍ:
  density: (
    scale: 0 // Usa 'scale' en lugar de pasar el valor directo
  ),
));

html {
  // Aplicar el tema globalmente
  @include mat.all-component-themes($my-theme);
}